html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    background: url("../img/clock_face.jpg");
    background-repeat: no-repeat;
}

#hourHand, #minHand, #secHand{ 
    position: absolute;
}